<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- 数据库连接配置节：核心配置，外部修改无需编译代码 -->
	<connectionStrings>
		<!-- 
      name：连接串名称（代码中通过此名称读取）
      connectionString：数据库连接信息，可直接修改server/uid/pwd等
      providerName：固定为SqlServer驱动
    -->
		<add name="FanucDCConn"
			 connectionString="Server=127.0.0.1;DataBase=trace;Uid=sa;Pwd=1234.abcD;pooling=true;Max pool size=20;Min pool size=10;"
			 providerName="System.Data.SqlClient" />
		<!-- 可添加多环境配置，比如测试环境/生产环境，代码中改名称即可切换 -->
		<!--
    <add name="FanucDCTest" 
         connectionString="Server=192.168.110.125;DataBase=trace;Uid=sa;Pwd=1234.abcD;pooling=true;Max pool size=20;Min pool size=10;" 
         providerName="System.Data.SqlClient" />
    <add name="FanucDCProd" 
         connectionString="Server=127.0.0.1;DataBase=trace;Uid=sa;Pwd=Pasxs5w0rd;pooling=true;Max pool size=20;Min pool size=10;" 
         providerName="System.Data.SqlClient" />
    -->
	</connectionStrings>
</configuration>